.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1000px;
    max-width: 1100px;
    height: 140px;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 60px;
    color: white;
}

.pfp {
    border-radius: 100px;
    background-color: white;
}

.name__container {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 30px;
    margin: 0;
}

.level {
    font-size: 30px;
    margin: 0;
}

.section__container {
    display: flex;
    gap: 30px;
    height: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    margin: 0;
}

.section h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 400;
}

.progress__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.bar__container {
    width: 130px;
    height: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
}

.bar {
    height: 100%;
    border-radius: 10px;
    background-color: var(--faded-blue);
}

.rank__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rank__container h3 {
    margin: 0;
    font-size: 20px;
}
